{% import "cosmetic.twig" as cosmeticMacro %}
{% extends "page.twig" %}
{% block body %}
    {% set allSettings = SESSION.settings %}
    {% set userSettings = SESSION.user.settings %}
    {% set pages = {
    "start": (GET.page ?? 0) * (userSettings["collection-heroes-per-page"].value ?? allSettings["collection-heroes-per-page"].default),
    "end": (GET.page ?? 0 + 1) * (userSettings["collection-heroes-per-page"].value ?? allSettings["collection-heroes-per-page"].default)
    } %}
    {% set heroStats = {} %}
    {% set categoryStats = {} %}
    {% set typeStats = {} %}
    {% set totalStats = {} %}
    {% for hero, types in SESSION.allcosmetics %}
        {% set heroTypeStats = {} %}
        {% for type, cosmetics in types %}
            {% set typeTotal = cosmetics|length %}
            {% for cosmetic in cosmetics %}
                {% if SESSION.user.hasCosmetic(cosmetic.id) %}
                    {% set categoryStats = categoryStats|pushObj(cosmetic.category.id ?? 0, {
                    "owned": categoryStats[cosmetic.category.id ?? 0].owned ?? 0 + 1,
                    "total": categoryStats[cosmetic.category.id ?? 0].total ?? 0,
                    "ownedCredits": cosmetic.type.id != 1 ? categoryStats[cosmetic.category.id ?? 0].ownedCredits ?? 0 + cosmetic.rarity.basePrice ?? 0 * cosmetic.category.priceMultiplier ?? 0 : 0,
                    "totalCredits": cosmetic.type.id != 1 ? categoryStats[cosmetic.category.id ?? 0].totalCredits ?? 0 : 0
                    }) %}
                    {% set heroTypeStats = heroTypeStats|pushObj(type, {
                    "owned": heroTypeStats[type].owned ?? 0 + 1,
                    "total": heroTypeStats[type].total ?? 0,
                    "ownedCredits": cosmetic.type.id != 1 ? heroTypeStats[type].ownedCredits ?? 0 + cosmetic.rarity.basePrice ?? 0 * cosmetic.category.priceMultiplier ?? 0 : 0,
                    "totalCredits": cosmetic.type.id != 1 ? heroTypeStats[type].totalCredits ?? 0 : 0
                    }) %}
                {% endif %}
                {% set categoryStats = categoryStats|pushObj(cosmetic.category.id ?? 0, {
                "owned": categoryStats[cosmetic.category.id ?? 0].owned ?? 0,
                "total": categoryStats[cosmetic.category.id ?? 0].total ?? 0 + 1,
                "ownedCredits": cosmetic.type.id != 1 ? categoryStats[cosmetic.category.id ?? 0].ownedCredits ?? 0 : 0,
                "totalCredits": cosmetic.type.id != 1 ? categoryStats[cosmetic.category.id ?? 0].totalCredits ?? 0 + cosmetic.rarity.basePrice ?? 0 * cosmetic.category.priceMultiplier ?? 0 : 0
                }) %}
                {% set heroTypeStats = heroTypeStats|pushObj(type, {
                "owned": heroTypeStats[type].owned ?? 0,
                "total": heroTypeStats[type].total ?? 0 + 1,
                "ownedCredits": cosmetic.type.id != 1 ? heroTypeStats[type].ownedCredits ?? 0 : 0,
                "totalCredits": cosmetic.type.id != 1 ? heroTypeStats[type].totalCredits ?? 0 + cosmetic.rarity.basePrice ?? 0 * cosmetic.category.priceMultiplier ?? 0 : 0
                }) %}
            {% endfor %}
            {% set typeStats = typeStats|pushObj(type, {
            "owned": typeStats[type].owned ?? 0 + heroTypeStats[type].owned,
            "total": typeStats[type].total ?? 0 + heroTypeStats[type].total,
            "ownedCredits": typeStats[type].ownedCredits ?? 0 + heroTypeStats[type].ownedCredits,
            "totalCredits": typeStats[type].totalCredits ?? 0 + heroTypeStats[type].totalCredits
            }) %}
            {% set heroStats = heroStats|pushObj(hero, {
            "owned": heroStats[hero].owned ?? 0 + heroTypeStats[type].owned,
            "total": heroStats[hero].total ?? 0 + heroTypeStats[type].total,
            "ownedCredits": heroStats[hero].ownedCredits ?? 0 + heroTypeStats[type].ownedCredits,
            "totalCredits": heroStats[hero].totalCredits ?? 0 + heroTypeStats[type].totalCredits,
            "types": heroTypeStats
            }) %}
        {% endfor %}
        {% set totalStats = {
        "owned": totalStats.owned ?? 0 + heroStats[hero].owned,
        "total": totalStats.total ?? 0 + heroStats[hero].total,
        "ownedCredits": totalStats.ownedCredits ?? 0 + heroStats[hero].ownedCredits,
        "totalCredits": totalStats.totalCredits ?? 0 + heroStats[hero].totalCredits
        } %}
    {% endfor %}
    <div class="mdl-grid">
        <div id="cosmetics-menu" class="mdl-cell mdl-cell--3-col">
            <ul class="demo-list-icon mdl-list mdl-shadow--2dp">
                <li class="mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <button class="cosmetics-menu--refresh mdl-button mdl-js-button mdl-button--icon mdl-color--light-blue-A200"
                                disabled>
                            <i class="material-icons">refresh</i>
                        </button>
                        <span class="cosmetics-menu--btn">
                            <button id="import-btn"
                                    class="cosmetics-menu--import mdl-button mdl-js-button mdl-button--icon mdl-color-text--orange-700">
                                <i class="material-icons">file_download</i>
                            </button>
                            <label for="import-btn">Import</label>
                        </span>
                        <dialog id="import-collection--dialog" class="mdl-dialog">
                            <h4 class="mdl-dialog__title">Import</h4>
                            <div class="mdl-dialog__content">
                                <p>
                                    Import your collection by pasting your collection data here. It will replace the current collection, <b>there is no way back</b>.<br/>
                                    <b>We strongly suggest that you export the current collection before importing a new one.</b>
                                </p>
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <textarea id="import-collection--textarea" class="mdl-textfield__input" type="text"
                                              rows="3" maxrows="3"></textarea>
                                    <label class="mdl-textfield__label" for="import-collection--textarea">Collection data (JSON format)</label>
                                    <span class="mdl-textfield__error">Data isn't formatted correctly</span>
                                </div>
                            </div>
                            <div class="mdl-dialog__actions">
                                <button type="button" class="mdl-button mdl-button--raised mdl-button--colored confirm">Import</button>
                                <button type="button" class="mdl-button mdl-button--raised close">Cancel</button>
                            </div>
                        </dialog>
                        <span class="cosmetics-menu--btn">
                            <button id="export-btn"
                                    class="cosmetics-menu--export cosmetics-menu--btn mdl-button mdl-js-button mdl-button--icon mdl-color-text--green">
                                <i class="material-icons">file_upload</i>
                            </button>
                            <label for="export-btn">Export</label>
                        </span>
                        <span class="cosmetics-menu--btn">
                            {% set canPrev = pages.start > 0 %}
                            <a id="prev-page-btn"
                               {% if canPrev %}href="./collection.php?page={{ GET.page ?? 0 - 1 }}"{% endif %}
                               class="cosmetics-menu--btn mdl-button mdl-js-button mdl-button--icon" {{ not canPrev ? "disabled" }}>
                                <i class="material-icons">navigate_before</i>
                            </a>
                            {% set canNext = pages.end < heroStats|length %}
                            <a id="next-page-btn"
                               {% if canNext %}href="./collection.php?page={{ GET.page ?? 0 + 1 }}"{% endif %}
                               class="cosmetics-menu--btn mdl-button mdl-js-button mdl-button--icon is-disabled" {{ not canNext ? "disabled" }}>
                                <i class="material-icons">navigate_next</i>
                            </a>
                        </span>
                    </span>
                </li>
                <hr/>
                {% set ratio = totalStats.total is defined ? (totalStats.owned ?? 0 / totalStats.total) : 1 %}
                <li class="cosmetics-menu--item mdl-list__item mdl-list__item--two-line"
                        {% if userSettings["collection-show-colors"].value ?? allSettings["collection-show-colors"].default %} style="background-color: {{ ratio|colorgradient("rgba") }};"{% endif %}>
                    <span class="mdl-list__item-primary-content mdl-typography--font-bold">
                        <img class="cosmetics-menu--item--image mdl-list__item-avatar"
                             src="img/collection/heroes/allheroes.png"/>
                        <span class="cosmetics-menu--item--text">Show Owned</span>
                        <span class="mdl-list__item-sub-title cosmetics-menu--item--stats">
                            <span class="cosmetics-menu--item--stats-completion">
                                {{ (ratio * 100)|round(2, "floor") }}%
                                ({{ totalStats.owned ?? 0 }} / {{ totalStats.total ?? 0 }})
                            </span><br/>
                            <span class="cosmetics-menu--item--stats-credits">
                                ₡{{ totalStats.totalCredits ?? 0 - totalStats.ownedCredits ?? 0 }}
                                (₡{{ totalStats.ownedCredits ?? 0 }} / ₡{{ totalStats.totalCredits ?? 0 }})
                            </span>
                        </span>
                    </span>
                    <span class="mdl-list__item-secondary-action">
                        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-show-owned">
                            <input type="checkbox" id="switch-show-owned" class="setting-input mdl-switch__input"
                                   data-setting="collection-show-owned-cosmetics" {{ userSettings["collection-show-owned-cosmetics"].value ?? allSettings["collection-show-owned-cosmetics"].default ? "checked" }}>
                        </label>
                    </span>
                </li>
                {% set heroStat = heroStats[0] is defined ? heroStats[0] : null %}
                {% set ratio = heroStat != null ? (heroStat.owned / heroStat.total) : 1 %}
                <li class="cosmetics-menu--item cosmetics-menu--item-hero mdl-list__item mdl-list__item--two-line"
                        {% if userSettings["collection-show-colors"].value ?? allSettings["collection-show-colors"] %} style="background-color: {{ ratio|colorgradient("rgba") }};"{% endif %}>
                    <span class="mdl-list__item-primary-content">
                        <a href="#allheroes">
                            <img class="cosmetics-menu--item--image mdl-list__item-avatar"
                                 src="img/collection/heroes/allheroes.png"/>
                            <span class="cosmetics-menu--item--text">All Heroes</span>
                        </a>
                        <span class="mdl-list__item-sub-title cosmetics-menu--item--stats">
                            <span class="cosmetics-menu--item--stats-completion">
                                {{ (ratio * 100)|round(2, "floor") }}%
                                ({{ heroStat.owned ?? 0 }} / {{ heroStat.total ?? 0 }})
                            </span><br/>
                            <span class="cosmetics-menu--item--stats-credits">
                                ₡{{ heroStat.totalCredits ?? 0 - heroStat.ownedCredits ?? 0 }}
                                (₡{{ heroStat.ownedCredits ?? 0 }} / ₡{{ heroStat.totalCredits ?? 0 }})
                            </span>
                        </span>
                    </span>
                    <span class="mdl-list__item-secondary-action">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="hero-checkbox-allheroes">
                            <input type="checkbox" id="hero-checkbox-allheroes"
                                   class="setting-input mdl-checkbox__input"
                                   data-setting="collection-show-hero-allheroes" {{ userSettings["collection-show-hero-allheroes"].value ?? allSettings["collection-show-hero-allheroes"].default ? "checked" }}/>
                        </label>
                    </span>
                </li>
                {% for hero in SESSION.heroes %}
                    {% set heroStat = heroStats[hero.id] is defined ? heroStats[hero.id] : null %}
                    {% set ratio = heroStat != null ? (heroStat.owned / heroStat.total) : 1 %}
                    <li class="cosmetics-menu--item cosmetics-menu--item-hero mdl-list__item mdl-list__item--two-line"
                            {% if userSettings["collection-show-colors"].value ?? allSettings["collection-show-colors"].default %} style="background-color: {{ ratio|colorgradient("rgba") }};"{% endif %}>
                        <span class="mdl-list__item-primary-content">
                            <a href="#{{ hero.slug }}">
                                <img class="cosmetics-menu--item--image mdl-list__item-avatar"
                                     src="img/collection/heroes/{{ hero.slug }}.png"/>
                                <span class="cosmetics-menu--item--text">{{ hero.name }}</span>
                            </a>
                            <span class="mdl-list__item-sub-title cosmetics-menu--item--stats">
                                <span class="cosmetics-menu--item--stats-completion">
                                    {{ (ratio * 100)|round(2, "floor") }}%
                                    ({{ heroStat.owned ?? 0 }} / {{ heroStat.total ?? 0 }})
                                </span><br/>
                                <span class="cosmetics-menu--item--stats-credits">
                                    ₡{{ heroStat.totalCredits ?? 0 - heroStat.ownedCredits ?? 0 }}
                                    (₡{{ heroStat.ownedCredits ?? 0 }} / ₡{{ heroStat.totalCredits ?? 0 }})
                                </span>
                            </span>
                        </span>
                        <span class="mdl-list__item-secondary-action">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
                                   for="hero-checkbox-{{ hero.slug }}">
                                <input type="checkbox" id="hero-checkbox-{{ hero.slug }}"
                                       class="setting-input mdl-checkbox__input"
                                       data-setting="collection-show-hero-{{ hero.slug }}"
                                        {{ userSettings["collection-show-hero-" ~ hero.slug].value ?? allSettings["collection-show-hero-" ~ hero.slug].default ? "checked" }}/>
                            </label>
                        </span>
                    </li>
                {% endfor %}
                <hr/>
                {% set categoryStat = categoryStats[0] is defined ? categoryStats[0] : null %}
                {% set ratio = categoryStat != null ? (categoryStat.owned / categoryStat.total) : 1 %}
                <li class="cosmetics-menu--item cosmetics-menu--item-category mdl-list__item mdl-list__item--two-line"
                        {% if userSettings["collection-show-colors"].value ?? allSettings["collection-show-colors"].default %} style="background-color: {{ ratio|colorgradient("rgba") }};"{% endif %}>
                    <span class="mdl-list__item-primary-content">
                        <img class="cosmetics-menu--item--image mdl-list__item-avatar"
                             src="img/collection/categories/default.png"/>
                        <span class="cosmetics-menu--item--text">Default</span>
                        <span class="mdl-list__item-sub-title cosmetics-menu--item--stats">
                            <span class="cosmetics-menu--item--stats-completion">
                                {{ (ratio * 100)|round(2, "floor") }}%
                                ({{ categoryStat.owned ?? 0 }} /{{ categoryStat.total ?? 0 }})
                            </span>
                        </span>
                    </span>
                    <span id="cosmetics-menu--category-default" class="mdl-list__item-secondary-action">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
                               for="category-checkbox-default">
                            <input type="checkbox" id="category-checkbox-default"
                                   class="setting-input mdl-checkbox__input"
                                   data-setting="collection-show-category-default" {{ userSettings["collection-show-category-default"].value ?? allSettings["collection-show-category-default"].default ? "checked" }}/>
                        </label>
                    </span>
                    <div class="mdl-tooltip" data-mdl-for="cosmetics-menu--category-default">
                        Obtained by default
                    </div>
                </li>
                {% for category in SESSION.categories %}
                    {% set categoryStat = categoryStats[category.id] is defined ? categoryStats[category.id] : null %}
                    {% set ratio = categoryStat != null ? (categoryStat.owned / categoryStat.total) : 1 %}
                    <li class="cosmetics-menu--item cosmetics-menu--item-category mdl-list__item mdl-list__item--two-line"
                            {% if userSettings["collection-show-colors"].value ?? allSettings["collection-show-colors"].default %} style="background-color: {{ ratio|colorgradient("rgba") }};"{% endif %}>
                        <span class="mdl-list__item-primary-content">
                            <img class="cosmetics-menu--item--image mdl-list__item-avatar"
                                 src="img/collection/categories/{{ category.slug }}.png"/>
                            <span class="cosmetics-menu--item--text">{{ category.name }}</span>
                            <span class="mdl-list__item-sub-title cosmetics-menu--item--stats">
                                <span class="cosmetics-menu--item--stats-completion">
                                    {{ (ratio * 100)|round(2, "floor") }}%
                                    ({{ categoryStat.owned ?? 0 }} /{{ categoryStat.total ?? 0 }})
                                </span><br/>
                                <span class="cosmetics-menu--item--stats-credits">
                                    ₡{{ categoryStat.totalCredits ?? 0 - categoryStat.ownedCredits ?? 0 }}
                                    (₡{{ categoryStat.ownedCredits ?? 0 }} / ₡{{ categoryStat.totalCredits ?? 0 }})
                                </span>
                            </span>
                        </span>
                        <span id="cosmetics-menu--category-{{ category.slug }}"
                              class="mdl-list__item-secondary-action">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
                                   for="category-checkbox-{{ category.slug }}">
                                <input type="checkbox" id="category-checkbox-{{ category.slug }}"
                                       class="setting-input mdl-checkbox__input"
                                       data-setting="collection-show-category-{{ category.slug }}"
                                        {{ userSettings["collection-show-category-" ~ category.slug].value ?? allSettings["collection-show-category-" ~ category.slug].default ? "checked" }}/>
                            </label>
                        </span>
                        <div class="mdl-tooltip"
                             data-mdl-for="cosmetics-menu--category-{{ category.slug }}">
                            {{ category.description|breverynword(5) }}
                        </div>
                    </li>
                {% endfor %}
                <hr/>
                {% for type in SESSION.types %}
                    {% set typeStat = typeStats[type.id] is defined ? typeStats[type.id] : null %}
                    {% set ratio = typeStat != null ? (typeStat.owned / typeStat.total) : 1 %}
                    <li class="cosmetics-menu--item cosmetics-menu--item-type mdl-list__item mdl-list__item--two-line"
                            {% if userSettings["collection-show-colors"].value ?? allSettings["collection-show-colors"].default %} style="background-color: {{ ratio|colorgradient("rgba") }};"{% endif %}>
                        <span class="mdl-list__item-primary-content">
                            <img class="cosmetics-menu--item--image mdl-list__item-avatar"
                                 src="img/collection/types/{{ type.slug }}.png"/>
                            <span class="cosmetics-menu--item--text">{{ type.name }}</span>
                            <span class="mdl-list__item-sub-title cosmetics-menu--item--stats">
                                <span class="cosmetics-menu--item--stats-completion">
                                    {{ (ratio * 100)|round(2, "floor") }}%
                                    ({{ typeStat.owned ?? 0 }} /{{ typeStat.total ?? 0 }})
                                </span><br/>
                                <span class="cosmetics-menu--item--stats-credits">
                                    ₡{{ typeStat.totalCredits ?? 0 - typeStat.ownedCredits ?? 0 }}
                                    (₡{{ typeStat.ownedCredits ?? 0 }} / ₡{{ typeStat.totalCredits ?? 0 }})
                                </span>
                            </span>
                        </span>
                        <span id="cosmetics-menu--type-{{ type.slug }}"
                              class="mdl-list__item-secondary-action">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
                                   for="type-checkbox-{{ type.slug }}">
                                <input type="checkbox" id="type-checkbox-{{ type.slug }}"
                                       class="setting-input mdl-checkbox__input"
                                       data-setting="collection-show-type-{{ type.slug }}"
                                        {{ userSettings["collection-show-type-" ~ type.slug].value ?? allSettings["collection-show-type-" ~ type.slug].default ? "checked" }}/>
                            </label>
                        </span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="mdl-cell mdl-cell--9-col-desktop">
            <table id="cosmetics-table" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                {% for hero, types in SESSION.cosmetics %}
                    {% if pages.start <= loop.index0 and loop.index0 < pages.end %}
                        {% set ratio = heroStats[hero].owned / heroStats[hero].total %}
                        <tbody class="cosmetics-table--body">
                        <tr class="cosmetics-table--hero"
                                {% if userSettings["collection-show-colors"].value ?? allSettings["collection-show-colors"].default %} style="background-color: {{ ratio|colorgradient("rgba") }};"{% endif %}>
                            <td class="mdl-typography--headline mdl-data-table__cell--non-numeric">
                                <a name="{{ hero > 0 ? SESSION.heroes[hero].slug : "allheroes" }}">
                                    {{ hero > 0 ? SESSION.heroes[hero].name : "All Heroes" }}
                                </a>
                            </td>
                            <td colspan="{{ userSettings["collection-cosmetics-per-row"].value ?? allSettings["collection-cosmetics-per-row"].default - 1 }}">
                                {{ (ratio * 100)|round(2, "floor") }}%
                                ({{ heroStats[hero].owned }} / {{ heroStats[hero].total }})
                                ₡{{ heroStats[hero].totalCredits ?? 0 - heroStats[hero].ownedCredits ?? 0 }}
                                (₡{{ heroStats[hero].ownedCredits ?? 0 }} / ₡{{ heroStats[hero].totalCredits ?? 0 }})
                            </td>
                        </tr>
                        {% for type, cosmetics in types %}
                            {% set ratio = heroStats[hero].types[type].owned / heroStats[hero].types[type].total %}
                            <tr class="cosmetics-table--type"
                                    {% if userSettings["collection-show-colors"].value ?? allSettings["collection-show-colors"].default %} style="background-color: {{ ratio|colorgradient("rgba") }};"{% endif %}>
                                <td>
                                    {{ SESSION.types[type].name }}s
                                </td>
                                <td colspan="{{ userSettings["collection-cosmetics-per-row"].value ?? allSettings["collection-cosmetics-per-row"].default - 1 }}">
                                    {{ (ratio * 100)|round(2, "floor") }}%
                                    ({{ heroStats[hero].types[type].owned }}
                                    / {{ heroStats[hero].types[type].total }})
                                    ₡{{ heroStats[hero].types[type].totalCredits ?? 0 - heroStats[hero].types[type].ownedCredits ?? 0 }}
                                    (₡{{ heroStats[hero].types[type].ownedCredits ?? 0 }} /
                                    ₡{{ heroStats[hero].types[type].totalCredits ?? 0 }})
                                </td>
                            </tr>
                            {% for row in cosmetics|batch(userSettings["collection-cosmetics-per-row"].value ?? allSettings["collection-cosmetics-per-row"].default) %}
                                <tr>
                                    {% for cosmetic in row %}
                                        <td class="cosmetics-table--category category-{{ cosmetic.category is not null ? cosmetic.category.id : 0 }}">
                                            {{ cosmeticMacro.cosmetic(cosmetic, SESSION.user.hasCosmetic(cosmetic.id)) }}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
    <script defer src="scripts/collection.js"></script>
{% endblock %}