{% import "cosmetic.twig" as cosmeticMacro %}
{% extends "page.twig" %}
{% block body %}
    {% set itemsPerRow = 3 %}
    <div class="mdl-grid">
        <div id="cosmetics-menu" class="mdl-cell mdl-cell--3-col">
            <ul class="demo-list-icon mdl-list mdl-shadow--2dp">
                <li class="cosmetics-menu--update mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                            Save
                        </button>
                    </span>
                </li>
                <hr/>
                <li class="cosmetics-menu--toggle mdl-list__item">
                    <span class="mdl-list__item-primary-content mdl-typography--font-bold">
                        Categories
                    </span>
                    <span class="mdl-list__item-secondary-action">
                        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-all-categories">
                            <input type="checkbox" id="switch-all-categories" class="mdl-switch__input" data-item="category" checked>
                        </label>
                    </span>
                </li>
                <li class="cosmetics-menu--item cosmetics-menu--item-category mdl-list__item">
                        <span class="cosmetics-menu--item--image mdl-list__item-primary-content">
                            <img src="img/collection/icons/0.png"/>Default
                        </span>
                    <span class="mdl-list__item-secondary-action">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="category-checkbox[0]">
                            <input type="checkbox" id="category-checkbox[0]" class="mdl-checkbox__input"
                                   data-category-id="0" checked/>
                        </label>
                    </span>
                </li>
                {% for category in SESSION.categories %}
                    <li class="cosmetics-menu--item cosmetics-menu--item-category mdl-list__item">
                        <span class="cosmetics-menu--item--image mdl-list__item-primary-content">
                            <img src="img/collection/categories/{{ category.id }}.png"/>{{ category.name }}
                        </span>
                        <span class="mdl-list__item-secondary-action">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
                                   for="category-checkbox[{{ category.id }}]">
                                <input type="checkbox" id="category-checkbox[{{ category.id }}]"
                                       class="mdl-checkbox__input" data-category-id="{{ category.id }}" checked/>
                            </label>
                        </span>
                    </li>
                {% endfor %}
                <hr/>
                <li class="cosmetics-menu--toggle mdl-list__item">
                    <span class="mdl-list__item-primary-content mdl-typography--font-bold">
                        Heroes
                    </span>
                    <span class="mdl-list__item-secondary-action">
                        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-all-heroes">
                            <input type="checkbox" id="switch-all-heroes" class="mdl-switch__input" data-item="hero" checked>
                        </label>
                    </span>
                </li>
                <li class="cosmetics-menu--item cosmetics-menu--item-hero mdl-list__item">
                        <span class="cosmetics-menu--item--image mdl-list__item-primary-content">
                            <img src="img/collection/icons/0.png"/>All Heroes
                        </span>
                    <span class="mdl-list__item-secondary-action">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="character-checkbox[0]">
                            <input type="checkbox" id="character-checkbox[0]" class="mdl-checkbox__input"
                                   data-hero-id="0" checked/>
                        </label>
                    </span>
                </li>
                {% for character in SESSION.characters %}
                    <li class="cosmetics-menu--item cosmetics-menu--item-hero mdl-list__item">
                        <span class="cosmetics-menu--item--image mdl-list__item-primary-content">
                            <img src="img/collection/icons/{{ character.id }}.png"/>{{ character.name }}
                        </span>
                        <span class="mdl-list__item-secondary-action">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
                                   for="character-checkbox[{{ character.id }}]">
                                <input type="checkbox" id="character-checkbox[{{ character.id }}]"
                                       class="mdl-checkbox__input" data-hero-id="{{ character.id }}" checked/>
                            </label>
                        </span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="mdl-cell mdl-cell--9-col-desktop">
            <table id="cosmetics-table" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                {% for character, types in SESSION.cosmetics %}
                    {% set ownedCosmetics = SESSION.user.getCosmetics(character) %}
                    {% set totalOwned, totalCosmetics = 0, 0 %}
                    {% for owned in ownedCosmetics %}
                        {% set totalOwned = totalOwned + owned|length %}
                    {% endfor %}
                    {% for cosmetics in SESSION.cosmetics[character] %}
                        {% set totalCosmetics = totalCosmetics + cosmetics|length %}
                    {% endfor %}
                    <tbody class="cosmetics-table--body character-{{ character > 0 ? SESSION.characters[character].id : 0 }}">
                    {% set ratio = totalOwned / totalCosmetics %}
                    <tr class="cosmetics-table--character" style="background-color: {{ ratio|colorgradient("rgba") }};">
                        <td colspan="{{ itemsPerRow - 1 }}"
                            class="mdl-typography--headline mdl-data-table__cell--non-numeric">
                            {{ character > 0 ? SESSION.characters[character].name : "All Heroes" }}
                        </td>
                        <td>
                            {{ (ratio * 100)|round(2, 'floor') }}%
                            ({{ totalOwned }} / {{ totalCosmetics }})
                        </td>
                    </tr>
                    {% for type, cosmetics in types %}
                        {% set ratio = (ownedCosmetics[type] is defined ? ownedCosmetics[type]|length : 0) / SESSION.cosmetics[character][type]|length %}
                        <tr class="cosmetics-table--type" style="background-color: {{ ratio|colorgradient("rgba") }};">
                            <td colspan="{{ itemsPerRow - 1 }}">{{ SESSION.types[type].name }}s</td>
                            <td>
                                {{ (ratio * 100)|round(2, 'floor') }}%
                                ({{ ownedCosmetics[type] is defined ? ownedCosmetics[type]|length : 0 }}
                                / {{ SESSION.cosmetics[character][type]|length }})
                            </td>
                        </tr>
                        {% for cosmetic in cosmetics %}
                            {% if loop.index0 % itemsPerRow == 0 %}
                                <tr>
                            {% endif %}
                            <td class="cosmetics-table--category category-{{ cosmetic.category is not null ? cosmetic.category.id : 0 }}">
                                {{ cosmeticMacro.cosmetic(cosmetic, SESSION.user.hasCosmetic(cosmetic.id)) }}
                            </td>
                            {% if loop.index0 % itemsPerRow == (itemsPerRow - 1) or loop.index == loop.length %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}