{% import "cosmetic.twig" as cosmeticMacro %}
{% extends "page.twig" %}
{% block body %}
    {% set itemsPerRow = 3 %}
    <div class="mdl-grid">
        <div id="cosmetics-menu" class="mdl-cell mdl-cell--3-col">
            <ul class="demo-list-icon mdl-list mdl-shadow--2dp">
                <li class="cosmetics-menu--update mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                            Save
                        </button>
                    </span>
                </li>
                <li class="cosmetics-menu--heroes-toggle mdl-list__item">
                    <span class="mdl-list__item-primary-content">
                        <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-all-heroes">
                            <input type="checkbox" id="switch-all-heroes" class="mdl-switch__input" checked>
                            <span class="mdl-switch__label">Heroes</span>
                        </label>
                    </span>
                </li>
                <hr/>
                {% for character in SESSION.characters %}
                    <li class="cosmetics-menu--item mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <img src="img/Ana.png" width="45px"/>{{ character.name }}
                        </span>
                        <span class="mdl-list__item-secondary-action">
                            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
                                   for="character-checkbox[{{ character.id }}]">
                                <input type="checkbox" id="character-checkbox[{{ character.id }}]"
                                       class="mdl-checkbox__input" data-hero-id="{{ character.id }}" checked/>
                            </label>
                        </span>
                    </li>
                {% endfor %}
                <li class="cosmetics-menu--item mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <img src="img/Ana.png" width="45px"/>All Heroes
                        </span>
                    <span class="mdl-list__item-secondary-action">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="character-checkbox[0]">
                            <input type="checkbox" id="character-checkbox[0]" class="mdl-checkbox__input"
                                   data-hero-id="0" checked/>
                        </label>
                    </span>
                </li>
            </ul>
        </div>
        <div class="mdl-cell mdl-cell--9-col-desktop">
            <table id="cosmetics-table" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                {% for character, types in SESSION.cosmetics %}
                    {% set ownedCosmetics = SESSION.user.getCosmetics(character) %}
                    {% set totalOwned, totalCosmetics = 0, 0 %}
                    {% for owned in ownedCosmetics %}
                        {% set totalOwned = totalOwned + owned|length %}
                    {% endfor %}
                    {% for cosmetics in SESSION.cosmetics[character] %}
                        {% set totalCosmetics = totalCosmetics + cosmetics|length %}
                    {% endfor %}
                    <tbody class="cosmetics-table--body-{{ character > 0 ? SESSION.characters[character].id : 0 }}">
                    <tr class="cosmetics-table--character">
                        <td colspan="{{ itemsPerRow - 1 }}"
                            class="mdl-typography--headline mdl-data-table__cell--non-numeric">
                            {{ character > 0 ? SESSION.characters[character].name : "All Heroes" }}
                        </td>
                        <td>{{ totalOwned }} / {{ totalCosmetics }}</td>
                    </tr>
                    {% for type, cosmetics in types %}
                        <tr class="cosmetics-table--type">
                            <td colspan="{{ itemsPerRow - 1 }}">{{ SESSION.types[type].name }}s</td>
                            <td>{{ ownedCosmetics[type] is defined ? ownedCosmetics[type]|length : 0 }} / {{ SESSION.cosmetics[character][type]|length }}</td>
                        </tr>
                        {% for cosmetic in cosmetics %}
                            {% if loop.index0 % itemsPerRow == 0 %}
                                <tr>
                            {% endif %}
                            <td>
                                {{ cosmeticMacro.cosmetic(cosmetic, SESSION.user.hasCosmetic(cosmetic.id)) }}
                            </td>
                            {% if loop.index0 % itemsPerRow == (itemsPerRow - 1) or loop.index == loop.length %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}