{% macro cosmetic(cosmetic, owned) %}
    <div class="cosmetic cosmetic-rarity-{{ cosmetic.rarity is not null ? cosmetic.rarity.name|lower : "common" }}">
        <span class="cosmetic--image">
            {% if cosmetic.type.slug in ["playericon", "spray"] %}
                <img src="img/collection/cosmetics/{{ cosmetic.id }}.png"/>
            {% else %}
                <img src="img/collection/cosmetics/1.png"/>
            {% endif %}
        </span>
        <span class="cosmetic--checkbox">
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-data-table__select"
                   for="cosmetic-checkbox-{{ cosmetic.id }}">
                <input id="cosmetic-checkbox-{{ cosmetic.id }}" type="checkbox" data-cosmetic-id="{{ cosmetic.id }}"
                       class="mdl-checkbox__input" {{ owned ? "checked" }} {{ cosmetic.category is null ? "disabled" }}/>
            </label>
        </span>
        <span class="cosmetic--name">{{ cosmetic.name }}</span>
        <span class="cosmetic--category">
        {% if cosmetic.category is not null and cosmetic.category.id != 1 %}
            <img src="img/collection/categories/{{ cosmetic.category.slug }}.png"/>
        {% endif %}
        </span>
    </div>
{% endmacro %}