<td class="cosmetic-checkbox">
    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-data-table__select"
           for="cosmetic[{{ cosmetic.id }}]">
        <input type="checkbox" id="cosmetic[{{ cosmetic.id }}]" data-cosmetic-id="{{ cosmetic.id }}"
               class="mdl-checkbox__input"
                {{ SESSION.user.hasCosmetic(cosmetic.id) ? "checked" }} {{ cosmetic.category is null ? "disabled" }}/>
    </label>
</td>
<td class="mdl-data-table__cell--non-numeric cosmetic cosmetic-rarity-{{ cosmetic.rarity is null ? "common" : cosmetic.rarity.name|lower }}">
    <span class="mdl-chip">
        <span class="mdl-chip__text">{{ cosmetic.type.name }}</span>
    </span>
    {{ cosmetic.name }}
</td>
<td class="mdl-data-table__cell--non-numeric">
    {% if cosmetic.category is not null %}
        <span id="category[{{ cosmetic.id }}]">{{ cosmetic.category.name }}</span>
        <div class="mdl-tooltip" data-mdl-for="category[{{ cosmetic.id }}]">
            {{ cosmetic.category.description|breverynword(5) }}
        </div>
    {% endif %}
</td>