{% import "cosmetic.twig" as cosmeticMacro %}
{% extends "page.twig" %}
{% block body %}
    <div class="mdl-layout__content" style="width: 100%; padding: 1rem; margin: auto;">
        <h1 class="mdl-typography--title">Settings</h1>
        <ul id="profile-settings" class="mdl-list mdl-shadow--2dp">
            {% for setting in SETTINGS %}
                {% if setting.id in [1, 2, 3, 4, 49, 5, 50] %}
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            {{ setting.description }}{{ setting.min != null ? " (" ~ setting.min ~ " - " ~ setting.max ~ ")" }}
                        </span>
                        <span class="mdl-list__item-secondary-action">
                            {% if setting.type == "BOOLEAN" %}
                                <label class="setting boolean-setting mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
                                       for="setting-checkbox-{{ setting.name }}">
                                    <input type="checkbox" id="setting-checkbox-{{ setting.name }}"
                                           data-setting-id="{{ setting.id }}"
                                           class="setting-input mdl-checkbox__input" {{ USERSETTINGS[setting.name].value ?? setting.default ? "checked" }}/>
                                </label>
                            {% elseif setting.type == "INTEGER" %}
                                <span class="setting integer-setting mdl-textfield mdl-js-textfield">
                                    <input class="mdl-textfield__input" type="number" min="{{ setting.min }}"
                                           max="{{ setting.max }}" pattern="-?[0-9]+"
                                           id="setting-checkbox-{{ setting.name }}" data-setting-id="{{ setting.id }}"
                                           value="{{ USERSETTINGS[setting.name].value ?? setting.default }}">
                                    <label class="mdl-textfield__label"
                                           for="setting-checkbox-{{ setting.name }}">Integer</label>
                                    <span class="mdl-textfield__error">Invalid input!</span>
                                </span>
                            {% endif %}
                        </span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <br/>
        <button id="profile-save-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            Save Changes
        </button>
    </div>
    <script defer src="scripts/profile.js"></script>
{% endblock %}